{%extends 'base.html'%}
{%load static%}

{%block content%}

<div class="container-fluid">
    <div class="text-center">
        <div id="cart_result" class="container p-4 rounded shadow-sm w-50">
            
            <h2 class="mb-4">Sepetinizdeki Ürünler</h2>
           
                {% if not cart_items  %}
                <p>Burada görüntülenecek bir ürün yok</p>   
                {% else  %}
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                       
                        <th scope="col">Ürün Görseli</th>
                        <th scope="col">Ürün Adı</th>
                        <th scope="col">Adet</th>
                        <th scope="col">Adet Fiyatı</th>
                        <th scope="col">Toplam Fiyat</th>
                        <th scope="col"></th>
                        
                        {%endif%}
                        
                    </tr>
                   
                </thead>
                
                <tbody>
                    {% for item in cart_items %}
                    <tr class="pt-4" align="center">
                        <td align="center">
                            <img src="{{ item.cart_product_name.product_image.url }}" width="75px" height="75px" style="object-fit: contain;" alt="{{ item.cart_product_name.product_name }}">
                        </td>
                        <td class="pt-4">{{ item.cart_product_name.product_name }}</td>
                        <td class="pt-4">
                            <form action="{% url 'website_app:update_cart_item' item.id %}" method="POST">
                                {% csrf_token %}
                                <input type="number" value="{{ item.cart_quantity }}" id="quantityCart" name="quantity" min="1" max="999">
                                <button type="submit" class="btn btn-primary btn-sm">Güncelle</button>
                            </form>
                        </td>
                        <td class="pt-4">{{ item.cart_product_name.product_price }}₺</td>
                        <td class="pt-4">{{ item.cart_total }}₺</td>
                        <td class="pt-4">
                            <a href="{% url 'website_app:remove_from_cart' item.id %}">
                                <button class="btn btn-danger btn-sm">Kaldır</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="fw-bold fs-5">Toplam Fiyat: {{ total_price }}₺</div>
            <a href="{% url 'website_app:payment'%}">
                <button class="btn btn-secondary btn-sm">Ödemeye Geç</button>
            </a>
        </div>
    </div>
</div>


<!--
<div class="container-fluid">
    <div class="text-center">
        <div id="cart_result" class="container p-4 rounded shadow-sm w-50">
            <h2 class="mb-4">Items in your cart</h2>

            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dar ">
                    <tr>
                        <th scope="col">Product Image</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Piece Price</th>
                        <th scope="col">Total Price</th>
                        
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr class="pt-4" align="center" >
                        <td align="center"><img src="{{ item.cart_product_name.product_image.url}}" width="75px" height="75px" alt="{{item.product_name}}"></td>
                        <td class = "pt-4">{{ item.cart_product_name.product_name }}</td>
                        <td class = "pt-4">
                            <form class="position-relative">
                                <input class="position-absolute bottom-50 start-50 translate-middle-x" type="number" value="{{ item.cart_quantity }}" id="quantityCart" name="quantity" min="1" max="999">
                            </form></td>
                        <td class = "pt-4">{{ item.cart_product_name.product_price }}$</td>
                        <td class = "pt-4">{{ item.cart_total}}$</td>
                        
                        <td  class=" pt-4">
                            <a href="{% url 'website_app:remove_from_cart' item.id %}">
                                <button class="btn btn-danger btn-sm">Remove</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="fw-bold fs-5">Total Price: {{ total_price }}$</div>
            
            
        </div>
    </div>
</div>
-->
{%endblock%}