{% extends 'base.html' %}
{% load static %}
{% block title %}Hoş Geldiniz - Ana Sayfa{% endblock %}

{% block content %}
<div class="container pt-5" id="indexbody1" >
        <h1 class="text-center">Hoş Geldiniz!</h1>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, saepe dolore? Aliquid culpa magni rem assumenda reiciendis? Ab eius itaque natus nesciunt, quo iusto laborum, atque cum quis maiores libero.</p>
     <div class="container" id="indexbody">
        
        <div class="row mb-4">
            <div class="col-md-12 text-center">

            </div>
        </div>

        <div class="text-center mt-5 pt-5">
            <h2>Hizmetlerimiz</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque minus quisquam aut excepturi exercitationem dicta rerum. Assumenda quibusdam quidem non praesentium, provident nihil quam cupiditate libero, repellat aspernatur autem sunt.</p>
        </div>

        <div class="text-center mt-5">

        </div>
    </div>
</div>
{% endblock %}