{% extends 'base.html' %}
{% load static %}
{% block title %}Hoş Geldiniz - Ana Sayfa{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Hoş Geldiniz!</h1>
    <p class="text-center">En iyi beyaz eşyaları keşfedin!</p>
    
    <div class="row mb-4">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://assets.mmsrg.com/isr/166325/c1/-/ASSET_MMS_97439208/fee_786_587_png" class="card-img-top" alt="Buzdolabı">
                <div class="card-body">
                    <h5 class="card-title">Buzdolabı</h5>
                    <p class="card-text">Yüksek verimlilikte, geniş iç hacim.</p>
                    <p class="card-text"><strong>Fiyat: 3,000 TL</strong></p>
                    <a href="#" class="btn btn-primary">Sepete Ekle</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://static.ticimax.cloud/62856/uploads/urunresimleri/buyuk/profilo-cmn12190tr-9kg-1200-devir-cama-b4c148.jpg" class="card-img-top" alt="Çamaşır Makinesi">
                <div class="card-body">
                    <h5 class="card-title">Çamaşır Makinesi</h5>
                    <p class="card-text">Güçlü yıkama performansı ile tasarlandı.</p>
                    <p class="card-text"><strong>Fiyat: 2,500 TL</strong></p>
                    <a href="#" class="btn btn-primary">Sepete Ekle</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://salih-ticaret.com/uploads/20264553_r1_1000_1000.jpg" class="card-img-top" alt="Bulaşık Makinesi">
                <div class="card-body">
                    <h5 class="card-title">Bulaşık Makinesi</h5>
                    <p class="card-text">Zaman tasarrufu sağlayan akıllı programlar.</p>
                    <p class="card-text"><strong>Fiyat: 2,800 TL</strong></p>
                    <a href="#" class="btn btn-primary">Sepete Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}