/* Açık Mod */
.light-mode {
    background-color: white;
    color: black;
}

/* Karanlık Mod */
.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .navbar {
    background-color: #222 !important;
}

.dark-mode .nav-link {
    color: white !important;
}

.dark-mode .footer {
    background-color: #222 !important;
    color: white !important;
}
