{% extends 'base.html' %}

{% block title %}Giriş Yap{% endblock %}

{% block content %}
{%if user.is_authenticated%}
    <script type = "text/javascript">
        
            window.location.href = "{%url 'website_app:redirect_url'%}"
    </script>
{%endif%}
<div class="login-container">
    <div class="login-box">
        <h2>Giriş Yap</h2>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="username" placeholder="Kullanıcı Adı" required>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Şifre" required>
            </div>
            <button class="btnlogin" type="submit">Giriş Yap</button>
        </form>
        <div class="forgot-password">
            Eğer bir hesabınız yoksa <a href="{%url 'website_app:signup'%}"> buradan</a> kaydolabilirsiniz.
        </div>
    </div>
</div>
{% endblock %}
